RPS C#/WindowsFormsClient/Connected Services/ServiceReference1/ServiceGame.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:GameUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GameUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Surname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Total_match_played" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Win_match" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsPlaying" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsYourTurn" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="Logout">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogoutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LogoutResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PlayButtoned">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PlayButtonedResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetMatchByUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMatchByUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMatchByUserResult" type="tns:Match" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Match">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserList" type="tns:ArrayOfGameUser" />
          <s:element minOccurs="1" maxOccurs="1" name="Round" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MatchStart" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="MatchFinish" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfGameUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GameUser" nillable="true" type="tns:GameUser" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMove">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="x" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="y" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMoveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMoveResult" type="tns:Match" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapIn">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapOut">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="PlayButtonedSoapIn">
    <wsdl:part name="parameters" element="tns:PlayButtoned" />
  </wsdl:message>
  <wsdl:message name="PlayButtonedSoapOut">
    <wsdl:part name="parameters" element="tns:PlayButtonedResponse" />
  </wsdl:message>
  <wsdl:message name="GetMatchByUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetMatchByUser" />
  </wsdl:message>
  <wsdl:message name="GetMatchByUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetMatchByUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetMoveSoapIn">
    <wsdl:part name="parameters" element="tns:GetMove" />
  </wsdl:message>
  <wsdl:message name="GetMoveSoapOut">
    <wsdl:part name="parameters" element="tns:GetMoveResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceGameSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input message="tns:LogoutSoapIn" />
      <wsdl:output message="tns:LogoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PlayButtoned">
      <wsdl:input message="tns:PlayButtonedSoapIn" />
      <wsdl:output message="tns:PlayButtonedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMatchByUser">
      <wsdl:input message="tns:GetMatchByUserSoapIn" />
      <wsdl:output message="tns:GetMatchByUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMove">
      <wsdl:input message="tns:GetMoveSoapIn" />
      <wsdl:output message="tns:GetMoveSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceGameSoap" type="tns:ServiceGameSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayButtoned">
      <soap:operation soapAction="http://tempuri.org/PlayButtoned" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMatchByUser">
      <soap:operation soapAction="http://tempuri.org/GetMatchByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMove">
      <soap:operation soapAction="http://tempuri.org/GetMove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceGameSoap12" type="tns:ServiceGameSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://tempuri.org/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayButtoned">
      <soap12:operation soapAction="http://tempuri.org/PlayButtoned" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMatchByUser">
      <soap12:operation soapAction="http://tempuri.org/GetMatchByUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMove">
      <soap12:operation soapAction="http://tempuri.org/GetMove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceGame">
    <wsdl:port name="ServiceGameSoap" binding="tns:ServiceGameSoap">
      <soap:address location="http://localhost:63648/ServiceGame.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceGameSoap12" binding="tns:ServiceGameSoap12">
      <soap12:address location="http://localhost:63648/ServiceGame.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>